===== Splunk Requirements =====


^Id ^ Need ^ Requirement ^
|||
^ 1.0 ^ Security ^^
| 1.1 | M |Flexible roles for controlled user and API access. Supports granular data access and capabilities by role. Enables restricted access to specific data sources, data types, time periods, specific views, reports or dashboards. |
| 1.2 | M |Authentication and authorization integration with Active Directory and other LDAP-compliant implementations. |
| 1.3 | N |Integration to enterprise single sign-on solutions enabling pass-through authentication of third party credentials. |
| 1.4 | M |Real-time remote indexing of data to minimize the opportunity for alteration of audit trails on compromised hosts. |
| 1.5 | M |Secure data stream access and distributed functionality via SSL/TCP. Secure user access via HTTPS. |
| 1.6 | N |Block-signs events to demonstrate data integrity. |
| 1.7 | M |Maintains a complete, signed audit trail of administrative actions and search history. |
| 1.8 | S |Monitors its own configurations for unauthorized change. |





