

conf/
bin/
inc/
lib/

data/attic/
data/cache/
data/index/
data/locks/
data/meta/
data/media_attic/
data/media_meta/
data/tmp/

*.php
.htaccess.dist

COPYING
README
VERSION

data/.htaccess
data/_dummy
data/deleted.files
data/security.png
data/security.xcf